*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    height: 100vh;
    background-color: rgb(201, 201, 249);
    display:flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: rgb(66, 66, 114);
    padding:20px;
    border-radius: 10px;
}
.calculator form .keys input{
    width:50px;
    font-size: 20px;
    height:50px;
    border-radius: 10px;
}
.display input{
    margin:0px 0px 10px 0px;
    width:215px;
    height: 40px;
    border-radius: 10px;
    padding:10px;
    font-size: 25px;

}
h3{
    margin:3px 20px 20px 35px;
}